html{
    font-family: 'Orelega One', cursive;
    background: url(hypno.png);
}
h2{
  background-color: white;
  font-size: 30px;
  color: red;
}

h1, h2{
  text-align: center;
}

#hypno {
    animation: blinker 1s step-start infinite;
    font-size: 85px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#nixon {
    background-image: linear-gradient(to right, #D31027 0%, #EA384D  51%, #D31027  100%);
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    width: 1425px;
    height: 500px;
    font-size: 150px;
    text-decoration: none;
  }

#nixon:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#mcg {
  background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  text-decoration: none;
  width: 1425px;
  height: 500px;
  font-size: 150px;
}

#mcg:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}